html {
    height: 100%;
    background: linear-gradient(rgba(175, 163, 234, 1), rgba(255, 183, 155, 1)) no-repeat fixed;
}

body {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: start;
    margin: 0;
    padding: 0;
}


#container {

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 0;
    width: 91.5vw;
    background-color: white;
    min-height:99%;
}

#lo {
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    margin-top: 40px;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 4px;
}

.navigation {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.title {
    font-family: "century gothic", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #622291;
    display: block;
    text-align: center;
    margin-top: 10px;

}
#app {
 float: right;
    margin-right: 17%;
    margin-top: 417px;
    height: 1vh;
}
.sidebar {
    float: left;
    margin-left: 50px;
    width: 18%;
}
.sidebar2 {
    float: left;
    margin-left: 50px;
    width: 18%;
    height: 100vh;
    position: sticky;
    top:0;
}

.main {
    float: left;
    margin-left: 30px;
    margin-right: 0.1vw;
    margin-bottom: 50px;
    min-width: 65%;
    max-width:72%;
}
.main2 { /*wide version of main */
    margin: 30px 60px 50px;
    max-width: 1400px;
}

a.nav, a.nav:active, a.nav:visited, a.nav:link {
    color: #974bca;
    text-decoration: none;
    font-family: "century gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-right: 10%;
}

a.nav:hover {
    color: #009fff;
    border-bottom: 4px #009fff;
    text-decoration: none;
    font-family: "century gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-right: 10%;
}

a.nav2, a.nav2:active, a.nav2:visited, a.nav2:link {
    color: #974bca;
    text-decoration: none;
    font-family: "century gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

a.nav2:hover {
    color: #009fff;
    border-bottom: 4px #009fff;
    text-decoration: none;
    font-family: "century gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

a, a:active, a:visited, a:link {
    color: #974bca;
    text-decoration: none;
}

a:hover {
    color: #009fff;
    border-bottom: 4px #009fff;
    text-decoration: none;
}

b, strong {
    color: #8a3daf;
    text-decoration: -moz-mac-accentdarkshadow;
    font-family: "century gothic", sans-serif;
    font-size: 15px;
}

i, em {
    color: #5552bc;
}

u {
    border-bottom: 2px #374d80;
    text-decoration: none;
}


h1 {
    font-family: "century gothic", sans-serif;
    font-size: 22px;
    text-align: left;
    letter-spacing: 0;
    color: #622291;
    border-bottom: 2px dashed #009fff;
    padding-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
h2{
    font-family: "century gothic", sans-serif;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0;
    color: #622291;
    padding-top: 3px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
}
h2::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 2px;
    background: linear-gradient(to right, rgba(175, 163, 234, 1), rgba(255, 183, 155, 1)) no-repeat;
}
h3{
    font-family: "century gothic", sans-serif;
    color: #974bca;
    font-size: 17px;
    font-weight: bold;
}
h4{
    font-family: "century gothic", sans-serif;
    color: #974bca;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}
hr{
    border-top: dashed #009fff 2px;
    border-bottom: none;
}

table {
    border:1px solid #622291;
    border-collapse: collapse;
}
 td{
     border:1px solid #622291;
     border-collapse: collapse;
     padding: 5px 10px;
    word-wrap: break-word;
    max-width: 300px;
}
 th{
     border:1px solid #622291;
     border-collapse: collapse;
     padding: 5px 10px;
     text-align: left;
    color: #622291;
    background-color: #d8a4ff;
}
.material-icons {
    font-size: 28px;
    color: #dd25ff;
}
.image-align{
    display:flex;
    flex-direction: row;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 32%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
@media (max-width: 1530px) {
    .hidden-mobile {
        display: none;
    }
}
#footer{
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    text-align-all: center;
}
.image-right{
    float:right;
    margin: 20px;
    border: #974bca inset;
    line-height: 0;
    font-size: 0;
}



